In [15]:
import pandas as pd
import numpy as np
import math

In [3]:
complete_orders=pd.read_csv("../data/nb.csv")
delivery_requests=pd.read_csv("../data/driver_locations_during_request.csv")

information about the completed orders

In [5]:
complete_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536020 entries, 0 to 536019
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Trip ID           536020 non-null  int64
 1   Trip Origin       536020 non-null  object
 2   Trip Destination  536020 non-null  object
 3   Trip Start Time   534369 non-null  object
 4   Trip End Time     536019 non-null  object
dtypes: int64(1), object(4)
memory usage: 20.4+ MB

In [20]:
complete_orders.isna().sum()

Trip ID                0
Trip Origin            0
Trip Destination       0
Trip Start Time     1651
Trip End Time          1
dtype: int64

In [8]:
complete_orders.head()

,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time
0,391996,"6.508813001668548,3.37740316890347","6.650969799999999,3.3450307",2021-07-01 07:28:04,2021-07-01 07:29:37
1,391997,"6.4316714,3.4555375","6.4280814653326,3.4721885847586",2021-07-01 06:38:04,2021-07-01 07:07:28
2,391998,"6.631679399999999,3.3388976","6.508324099999999,3.3590397",2021-07-01 06:21:02,2021-07-01 07:02:23
3,391999,"6.572757200000001,3.3677082","6.584881099999999,3.3614073",2021-07-01 07:16:07,2021-07-01 07:29:42
4,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36

In [19]:
percentage = round(complete_orders.nunique()*100/complete_orders.shape[0],2)
pd.DataFrame(percentage,columns=["Unique %"])

                  Unique %
Trip ID             100.00
Trip Origin          20.92
Trip Destination     27.52
Trip Start Time      95.62
Trip End Time        95.86

In [36]:
print(complete_orders[complete_orders["Trip Origin"]==(0,0)].shape)
print(complete_orders[complete_orders["Trip Destination"]==(0,0)].shape)

(0, 5)
(0, 5)